{% extends "base.html" %}

{% block title %} Reinicie su password {% endblock %}

{% block content %}

    <h1>Reinici su password</h1>

    {% if validlink %}

        <p>Por favor escriba su nuevo password dos veces</p>

        <form method="post">

            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Cambiar mi password"></p>

        </form>

    {% else %}

        <p>El link de reinicio del password fue incorrecto, posiblememte porque este ya se ha enviado anteriormente. Vuelva a solicitar un nuevo de reinicio de password </p>

    {% endif %}

{% endblock %}